.competition-info-container {
    width: 100%;
    * {
        box-shadow: none !important;
        outline: 0 !important;
    }
    .info-body {
        max-height: 650px;
        height: 500px;
        border: 2px solid #dee2e6;
        border-radius: 5px;
        display: flex;
    }
}
