.loader-container {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.18);
    img {
        width: 5%;
        height: 5%;
        margin-left: 45%;
        margin-top: 45%;
    }
}