@import "../../../styles/variables";

.result-info-container {
    width: 100%;
    .info-body {
        max-height: 650px;
        height: 500px;
        border: 2px solid #dee2e6;
        border-radius: 5px;
        .btn-primary{
            float: left;
            height: 30px;
            margin-top: 5px;
            padding: 0 5px;
        }
    }
    input,
    select {
        box-shadow: none !important;
        outline: none !important;
    }
}
