@import "../../../../styles/variables";

.result-detail-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.18);
    .result-detail {
        width: 90%;
        height: 550px;
        background-color: $white;
        border-radius: 8px;
        margin-left: 5%;
        margin-top: 40px;
        overflow-y: auto;
        padding: 15px 2% 15px 2%;
        &::-webkit-scrollbar {
            width: 9px;
        }
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
        }
        .btn-close {
            float: right;
            height: 14px;
            border: none;
        }
        &__title {
            float: left;
        }
        &__main-result {
            table {
                thead {
                    tr {
                        .place {
                            width: 40px;
                            vertical-align: middle;
                        }
                        .fio {
                            width: 200px;
                            vertical-align: middle;
                        }
                        .summary {
                            width: 50px;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
        &__stage-result {
            margin-top: 40px;
            padding-top: 10px;
            border-top: 1px solid $border-grey;
            h5 {
                float: left;
            }
            table{
                tr {
                        .place {
                            width: 40px;
                            vertical-align: middle;
                        }
                        .fio {
                            width: 200px;
                            vertical-align: middle;
                        }
                        .summary {
                            width: 50px;
                            vertical-align: middle;
                        }
                    }
            }
        }
    }
}
