.login-container {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba($color: #000000, $alpha: 0.18);
    * {
        box-shadow: none !important;
        outline: 0 !important;
    }
    .login-form {
        box-sizing: border-box;
        background-color: white;
        border-radius: 4px;
        width: 100%;
        max-width: 400px;
        min-height: 220px;
        height: auto;
        margin-left: 40%;
        margin-top: 150px;
        padding-top: 30px;
        .btn-close {
            float: right;
            margin-top: -22.5px; //из-за паддинга login-form кнопка смещается. Это призвано, чтобы вернуть ее на место
            margin-right: 1.5%;
        }
        .login-controls {
            width: 100%;
            box-sizing: border-box;
            float: left;
            p {
                text-align: left;
                padding-left: 5%;
                margin-top: 5px;
                margin-bottom: 0px;
            }
            .inp-base {
                margin-top:0px;
                margin-left: 5%;
                width: 90%;
                height: 30px;
            }
        }
        .login {
            width: 90%;
            height: 36px;
            margin-top: 10px;
            margin-left: 5%;
            float: left;
            background-color: #00d19d;
            &:hover {
                background-color: #00bf90;
            }
        }
    }
}